.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F7CAC9; /* Light Pink background */
    font-family: 'Roboto', sans-serif;
}

.login-form {
    background-color: #FFFFFF; /* White background for the form */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    margin: 40px 0;
}

.login-form h1 {
    color: #FF6F61; /* Coral for headings */
    margin-bottom: 30px;
    font-weight: bold;
}

.login-form input {
    margin: 15px 0;
    padding: 15px;
    width: 100%;
    border: 2px solid #EBECF0; /* Lighter gray border for inputs */
    border-radius: 6px;
    background-color: #FFFFFF;
    color: #2E2E2E;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Add transition for visual effects */
}

.login-form input:focus {
    background-color: #EBECF0; /* Lighter shade on focus for visibility */
    border-color: #FF6F61; /* Coral outline color on focus */
}

.login-form button {
    margin: 25px 0;
    padding: 18px 35px;
    border: none;
    border-radius: 6px;
    background-color: #88B04B; /* Accent color - Green */
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
}

.login-form button:hover, .login-form button:active {
    background-color: #77A65D; /* Darker green on hover/press for feedback */
    transform: translateY(-2px);
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-form {
        width: 95%;
        max-width: 400px;
    }
}

/* Accessibility Enhancements */
.login-form input:focus, .login-form button:focus {
    outline: none; /* Remove outline */
}
