.signup-container {
    padding: 20px;
    background-color: #F7CAC9; /* Light Pink background */
    color: #2E2E2E; /* Dark Gray text color */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

.signup-form {
    width: 100%;
    max-width: 400px;
    background-color: #FFFFFF; /* White background for form */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #FF6F61; /* Coral for labels */
}

.form-group input {
    width: calc(100% - 20px); /* Adjusted width */
    padding: 15px; /* Increase input padding for visibility */
    border: 1px solid #EBECF0; /* Lighter gray border for inputs */
    border-radius: 4px;
    background-color: #FFFFFF; /* White background for inputs */
    color: #2E2E2E; /* Dark Gray text color */
    font-size: 16px; /* Adjust font size */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Add transition for focus effect */
}

.form-group input:focus {
    background-color: #EBECF0; /* Lighter shade on focus for visibility */
    border-color: #FF6F61; /* Coral outline color on focus */
}

button {
    width: 100%;
    padding: 15px 30px; /* Larger padding for button */
    border: none;
    border-radius: 4px;
    background-color: #88B04B; /* Green accent color for button */
    color: #FFFFFF; /* Button text color */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3AAC58; /* Green accent color on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
    .signup-container {
        padding: 10px; /* Reduced padding for smaller screens */
    }

    .signup-form {
        max-width: 90%; /* Adjust max-width for smaller screens */
        margin: 10px auto; /* Center the form horizontally */
    }
}

/* Accessibility Enhancements */
input:focus, button:focus {
    outline: none; /* Remove outline */
}
